registry=https://registry.npmjs.org
always-auth=true

@stg:registry=https://straumann.jfrog.io/artifactory/api/npm/npm/
//straumann.jfrog.io/artifactory/api/npm/npm/:username=${STG_NPM_USER}
//straumann.jfrog.io/artifactory/api/npm/npm/:email=${STG_NPM_EMAIL}
//straumann.jfrog.io/artifactory/api/npm/npm/:always-auth=true
//straumann.jfrog.io/artifactory/api/npm/npm/:_authToken=${STG_NPM_TOKEN}
